<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MOVIE</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class = "top">
    <h1>search movie</h1>
  </div>
  <div class="container">


    <%= yield %>
  </div>
</body>
</html>
